<section id="music">
	<section id="music-side-panel">
	<%= image_tag "dky.jpg" %>
		<ul class="playlist">
		<% @music.each_with_index do |m, i| %>
			<li class="song"><%= "#{i + 1}. " %> <%= m['name'] %></li>
		<% end %>
		</ul>
	<%= image_tag "back-cover.jpg" %>
	</section>
	<% @music.reverse.each_with_index do |m, i| %>
		<section class="music-background <%= i %>" style="background-image: url( <%= asset_path m['image'] %>);">
			<div class="song-title"><%= m['name'] %></div>
			<% if i == 5 %>
				<%= audio_tag m["song"], autoplay: true, controls: false %>
			<% else %>
				<%= audio_tag m["song"], autoplay: false, controls: false %>
			<% end %>
		</section>
	<% end %>
</section>

<%= render 'layouts/footer' %>
