<div class="bg-container">
	<div id="theart-container-1" class="page-load-effect bg-zoom-in"></div>
</div>
		
<section id="music" class="page-load-effect">
	<% @music.each do |m| %>
		<span class="music-container" data-song-caption="<%= m['name']%>" >
			<%= audio_tag m["song"], autoplay: false, controls: false, class: 'song' %>
			<%= image_tag m["image"], class: 'cover-art' %>
			<%= image_tag 'playbutton.png', class: 'playbutton' %>
			<%= image_tag 'paused-button.png', class: 'pausebutton' %>
		</span>
	<% end %>
</section>


<%= render 'layouts/footer' %>
