<div id="thebasis-container-1" class="animsition">

	<%= video_tag ['nominepatris.mp4','nominepatris.webm','nominepatris.ogv'], 
						id: 'bgvideo', autoplay: true , loop: true, muted: true %>

	<div id="doyouknow">Do you know?</div>
	<%= image_tag 'yussowhite.svg', alt: 'Yusso Logo', id: 'yussologo-1' %>

	<div id="caption">
		Born in the wild.<br>
		Raised by aliens.<br>
		Sent to school with humans...
	</div>

	<div id="menutext2" class="mobile-friendly" >
		<%= link_to "theART", theart_path, class: 'mobile-menu' %>
		<%= link_to "theARTIST", theartist_path, class: 'mobile-menu' %>
	</div>
	
	<div id="watchvid" class="not-mobile-friendly">
		Watch Video
	</div>

	<%= video_tag ['makeamove.mp4','makeamove.webm','makeamove.ogv', ], 
						id: 'featuredvid', autoplay: false , loop: false, muted: false, controls: true %>

	<div class="close">CLOSE</div>

	<div class="slide-up-effect not-mobile-friendly" id="footerlinks">
		<%= link_to 'https://soundcloud.com/dontknowyusso', target: '_blank', class: 'slider' do %>
			<span data-hover="SoundCloud">SoundCloud</span>
		<%end%>
		<%= link_to 'https://www.facebook.com/dontknowyusso', target: '_blank', class: 'slider' do %>
			<span data-hover="Facebook">Facebook</span>
		<%end%>
		<%= link_to 'http://instagram.com/dontknowyusso', target: '_blank', class: 'slider' do %>
			<span data-hover="Instagram">Instagram</span>
		<%end%>
		<%= link_to 'https://twitter.com/dontknowyusso', target: '_blank', class: 'slider' do %>
			<span data-hover="Twitter">Twitter</span>
		<%end%>
	</div>

</div>



