<svg class="hamburger" height="40" width="50">
  <line x1="10" y1="10" x2="40" y2="10" />
  <line x1="10" y1="20" x2="40" y2="20" />
  <line x1="10" y1="30" x2="40" y2="30" />
</svg>

<svg class="close-x" height="50" width="50">
  <line x1="10" y1="10" x2="40" y2="40" />
  <line x1="10" y1="40" x2="40" y2="10" />
</svg>

<div id="header-container">

	<div class="grid" data-no-turbolink>
		<%= link_to(root_path, class: 'header-link')  do %>
			<%= image_tag("homepage2.jpg", class: 'icon') %>
			<span class="link-caption" data-menu="HOME"></span>
		<%end%>
		<%= link_to(theartist_path, class: 'header-link')  do %>
			<%= image_tag("yusso_page.png", class: 'icon') %>
			<span class="link-caption" data-menu="Y&#217;SS&#211;"></span>
		<%end%>
		<%= link_to(theart_path, class: 'header-link')  do %>
			<%= image_tag("music_page.jpg", class: 'icon') %>
			<span class="link-caption" data-menu="MUSIC"></span>
		<%end%>
		<%= link_to(shows_path, class: 'header-link')  do %>
			<%= image_tag("shows_page.png", class: 'icon') %>
			<span class="link-caption" data-menu="SHOWS"></span>
		<%end%>
	</div>
	
</div>
