<div class="slide-up-effect not-mobile-friendly" id="menutext">
	<%= link_to root_path, class: 'slider animsition-link' do %>
		<span data-hover="home">HOME</span>
	<%end%>
	<%= link_to theart_path, class: 'slider animsition-link' do %>
		<span data-hover="THEart">theART</span>
	<%end%>
	<%= link_to theartist_path, class: 'slider animsition-link' do %>
		<span data-hover="THEartist">theARTIST</span>
	<%end%>
	<%= link_to contact_path, class: 'slider animsition-link right' do %>
		<span data-hover="contact">CONTACT</span>
	<%end%>
	<%= link_to followyusso_path, class: 'slider animsition-link right' do %>
		<span data-hover="FOLLOWyusso">followYUSSO</span>
	<%end%>
	<%= link_to shows_path, class: 'slider animsition-link right' do %>
		<span data-hover="shows">SHOWS</span>
	<%end%>

</div>