<!DOCTYPE html>
<html>
  <head>
     <%= favicon_link_tag 'y.jpg' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Y&#217;SS&#211;</title>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
    <link href='http://fonts.googleapis.com/css?family=Amatic+SC' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro:300,400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
    <%= javascript_include_tag "vendor", :debug => false %>
  
  </head>
  <body>
    <div id="loading-screen"><div>Y&#217;SS&#211;</div></div>
    <%= render 'layouts/header' %>
    <%= yield %>
  </body>

</html>

